@model HTQL_DichVuYTeGiaDinh.ViewModels.CreateNhanVienYTeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<h2>Thêm quản trị viên</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="HoTen" class="control-label">Họ tên</label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
        <input asp-for="NgaySinh" class="form-control" type="date" />
        <span asp-validation-for="NgaySinh" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SoCccd" class="control-label">Số CCCD</label>
        <input asp-for="SoCccd" class="form-control" />
        <span asp-validation-for="SoCccd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GioiTinh" class="control-label">Giới tính</label>
        <select asp-for="GioiTinh" class="form-control">
            <option value="0">Nữ</option>
            <option value="1">Nam</option>
        </select>
        <span asp-validation-for="GioiTinh" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SoDienThoai" class="control-label">Số điện thoại</label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
        <input asp-for="MatKhau" class="form-control" type="password" />
        <span asp-validation-for="MatKhau" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiaChiEmail" class="control-label">Email</label>
        <input asp-for="DiaChiEmail" class="form-control" />
        <span asp-validation-for="DiaChiEmail" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
        <input asp-for="HinhAnh" class="form-control" type="file" />
        <span asp-validation-for="HinhAnh" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Thêm quản trị viên" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
