@model HTQL_DichVuYTeGiaDinh.Models.KhachHang

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>KhachHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTk" />
            <div class="form-group">
                <label asp-for="MaHgd" class="control-label"></label>
                <select asp-for="MaHgd" class="form-control" asp-items="ViewBag.MaHgd"></select>
                <span asp-validation-for="MaHgd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaQuyen" class="control-label"></label>
                <input asp-for="MaQuyen" class="form-control" />
                <span asp-validation-for="MaQuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoCccd" class="control-label"></label>
                <input asp-for="SoCccd" class="form-control" />
                <span asp-validation-for="SoCccd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiEmail" class="control-label"></label>
                <input asp-for="DiaChiEmail" class="form-control" />
                <span asp-validation-for="DiaChiEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoiQuanHeVoiChuHo" class="control-label"></label>
                <input asp-for="MoiQuanHeVoiChuHo" class="form-control" />
                <span asp-validation-for="MoiQuanHeVoiChuHo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNguoiLienHeKhanCap" class="control-label"></label>
                <input asp-for="TenNguoiLienHeKhanCap" class="form-control" />
                <span asp-validation-for="TenNguoiLienHeKhanCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SdtNguoiLienHeKhanCap" class="control-label"></label>
                <input asp-for="SdtNguoiLienHeKhanCap" class="form-control" />
                <span asp-validation-for="SdtNguoiLienHeKhanCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
